*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button{
    cursor: pointer;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-right: 77px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1240px;
    height: 54px;
    padding: 11px 76px;
}

.page-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-right: 584px;
}

.page-nav a{
    color: black;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 0.64px;
    word-wrap: break-word;
    text-decoration: none;
}


.personal-nav{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.img-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 74px;
}

.img-cont img{
    width: 796px;
}

.txt-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 288px;
    background-color: #f0f2f5;
    padding: 40px 80px;
    margin: 72px 0;
}


.under-txt{
    width: 816px;
    height: 208px;
    color: #5C5C5C;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.80px;
    word-wrap: break-word;
    text-align: center;
}

.full-cont{
    background-color: #F1E6E566;
    padding: 52px 28px;
    width: 100%;
    height: 284px;
    align-items: center;
    justify-content: center;
}

.term{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 180px;
    align-items: center;
    justify-content: space-around;
    
}

.term-conts{
    display: flex;
    flex-direction: row;
    gap: 183px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.terms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loc-soc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loc-soc p{
    color: #5C5C5C;
    font-size: 17px;
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 1.02px;
    word-wrap: break-word
}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}



@media screen and (max-width:430px) {    
    .logo{
        margin-right: 35px;
    }

    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    .nav-container{
        display: flex;
        flex-direction: row;
        gap: 5px;
        height: auto;
        padding: 0;
        width: inherit;
    }

    .page-nav{
        display: flex;
        flex-direction: row;
        gap: 7px;
        text-align: center;
        margin: 5px 0;
    }

    .img-cont{
        margin-top: 20px;
    }

    .img-cont img{
        width: 100%;
    }

    .txt-cont{
        height: auto;
    }

    .under-txt{
        height: auto;
        font-size: medium;
    }

    .full-cont{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .term{
        display: flex;
        flex-direction: column;
    }

    .personal-nav{
        gap: 12px;
    }

}